In [1]:
import pandas as pd   
import requests       
from bs4 import BeautifulSoup 
import numpy as np 
import re

In [2]:
movie_DF1 = pd.read_csv('Movie_Data.csv')

In [3]:
movie_DF1.drop(movie_DF1[movie_DF1['Metascore'] == "^^^^^^"].index, inplace = True)

In [4]:
movie_DF1.drop(movie_DF1[movie_DF1['Gross collection'] == "*****"].index, inplace = True)

In [5]:
movie_DF1=movie_DF1.drop(['Description'], axis=1)

In [6]:
movie_DF1=movie_DF1.drop(['Gross collection'], axis=1)

In [7]:
movie_DF1=movie_DF1.drop(['Watchtime'], axis=1)

In [8]:
movie_DF1=movie_DF1.drop(['Votes'], axis=1)

In [9]:
check_columns=['Genre']
movie_DF1.replace({"\n":""},regex=True)

,Unnamed: 0,Name of movie,Year of release,Genre,Movie Rating,Metascore,Director,Star
0,0,The Shawshank Redemption,1994,Drama,9.3,82,Frank Darabont,"['Tim Robbins', 'Morgan Freeman', 'Bob Gunton'..."
1,1,The Godfather,1972,"Crime,Drama",9.2,100,Francis Ford Coppola,"['Marlon Brando', 'Al Pacino', 'James Caan', '..."
2,2,The Dark Knight,2008,"Action,Crime,Drama",9.0,84,Christopher Nolan,"['Christian Bale', 'Heath Ledger', 'Aaron Eckh..."
3,3,Schindler's List,1993,"Biography,Drama,History",9.0,95,Steven Spielberg,"['Liam Neeson', 'Ralph Fiennes', 'Ben Kingsley..."
4,4,12 Angry Men,1957,"Crime,Drama",9.0,97,Sidney Lumet,"['Henry Fonda', 'Lee J. Cobb', 'Martin Balsam'..."
...,...,...,...,...,...,...,...,...
7908,7908,Dragonball Evolution,2009,"Action,Adventure,Fantasy",2.5,45,James Wong,"['Justin Chatwin', 'James Marsters', 'Chow Yun..."
7909,7909,Battlefield Earth,2000,"Action,Adventure,Sci-Fi",2.5,9,Roger Christian,"['John Travolta', 'Forest Whitaker', 'Barry Pe..."
7911,7911,Epic Movie,2007,"Adventure,Comedy,Fantasy",2.4,17,"Directors:Jason Friedberg, Aaron Seltzer","['Kal Penn', 'Jennifer Coolidge', 'Fred Willar..."
7912,7912,Son of the Mask,2005,"Comedy,Family,Fantasy",2.2,20,Lawrence Guterman,"['Jamie Kennedy', 'Traylor Howard', 'Alan Cumm..."
7914,7914,Disaster Movie,2008,"Comedy,Sci-Fi",1.9,15,"Directors:Jason Friedberg, Aaron Seltzer","['Carmen Electra', 'Vanessa Lachey', 'Nicole P..."

In [10]:
def remove_prefix(df, column_name, prefix):
    df[column_name] = df[column_name].str.replace(prefix, '')
    return df
movie_DF1= remove_prefix(movie_DF1, 'Director', 'Directors:')

In [11]:
def remove_pipe_regex(df, column_name):
    df[column_name] = df[column_name].apply(lambda x: re.sub('I', '', x))
    return df
movie_DF1 = remove_pipe_regex(movie_DF1, 'Year of release')

In [12]:
def comma_separated_to_list(df, column_name):
    df[column_name] = df[column_name].str.split(',').apply(lambda x: [y.strip() for y in x])
    return df
movie_DF1 = comma_separated_to_list(movie_DF1, 'Director')

In [13]:
def split_values_to_list(df, column_name):
    df[column_name] = df[column_name].apply(lambda x: x.split(','))
    return df
movie_DF1 = split_values_to_list(movie_DF1, 'Genre')

In [14]:
def remove_leading_spaces(df, column_name):
    df[column_name] = df[column_name].str.strip()
    return df
movie_DF1=remove_leading_spaces(movie_DF1,'Year of release')

In [15]:
movie_DF1.to_csv('Movie_Data.csv')